<html>
    <head>
        <title>John`s blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">John`s Blog</a></h1>
        </div>

        <div>
            <p>published: 04.01.2018, 10:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is a first test post</p>
        </div>

        <div>
            <p>published: 04.01.2018, 10:55</p>
            <h2><a href="">My second post</a></h2>
            <p>This is a second post</p>
        </div>
    </body>
</html>
